<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Ticket</title>
</head>

<body>
    <h1>카드 결제</h1>
    <form action="/buy-ticket-card" method="get">
        <label for="consumerId">고객 아이디:</label>
        <input type="text" id="consumerId" name="consumerId" /><br /><br />

        <label for="amount">티켓 구매수:</label>
        <input type="text" id="amount" name="amount" /><br /><br />

        <label for="error">에러 발생 여부:</label>
        <input type="text" id="error" name="error" /><br /><br />

        <button type="submit">구매</button>

        <hr />
        에러 발생 여부에 1을 입력하면 에러가 발생합니다.
    </form>
</body>

</html>